
@font-face {
    font-family: vazir;
    src: url(../fonts/Vazirmatn-Regular.woff2);
}
@font-face {
    font-family: vazir-bold;
    src: url(../fonts/Vazirmatn-Bold.woff2);
}
body, * {
    font-family: vazir;
}
.container-fluid-custom{
    background-color: rgb(1,1,126);
    line-height: 10px;
}
.container-fluid-custom .contacts i{
    color: orange;
}
.container-fluid-custom .contacts i span{
    color:#fff;
    padding-left: 5px;
    padding-right: 15px;
}
.container-fluid-custom .socialmedia{
    direction: ltr;
}

.container-fluid-custom .socialmedia a  {
    font-size: 20px;
    color: #fff;
    padding:10px;
}

.container-fluid-custom .socialmedia a:hover{
    background-color: orange;
}

.container-fluid-custom .socialmedia a i:hover{
    color: red;
}


@media screen and (max-width:975px) {
    .container-fluid-custom .contacts i:first-child{
        display: none;
    }
}


@media screen and (max-width:440px) {
    .container-fluid-custom .socialmedia a:nth-child(-n + 2) {
        display: none;
    }
    
}

nav{
    background-color: #efefef;
    line-height: 58px;
    overflow: hidden;
}
nav a {
    font-family: vazir-bold;
    padding: 15px;
    vertical-align: -7px;
    float: right;
    
}
nav a:hover{
    border-bottom: 3px solid red;
}
nav a i{
    vertical-align: -5px;
}

nav .bars{
    display: none;
}

@media screen and (max-width:600px) {
    nav{
        position: relative;
    }
    nav a:not(:first-child){
        display: none;
    }
    
    nav a.bars{
        display: block;
        float: left;
        position: absolute;
        top: 0;
        left: 0;
    }
    nav.responsive a{
            float: none;
            display: block;
       
    }

}

.overlay{
    
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    
}

.overlay .header-title{
    margin: 200px;
    color:#fff;
    max-width: 450px;
}

.overlay .header-title a{
    margin-top: 20px;
    margin-left: 20px;
    background-color: orange;
    padding: 7px 5px;
    border-radius: 3px;
    color: #fff;
    float: left;
}

@media screen and (max-width: 1000px) {
    .overlay .header-title{
        margin: 0;
        background-color: rgba(255, 255, 255, .5);
        color: rgb(0, 0, 0);
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
    .overlay .header-title h1{
        font-size: 20px;
    }
    .overlay .header-title h3{
        font-size: 16px;
    }

}

.project-title span::before{
    content: '';
    width: 45px;
    height: 4px;
    background-color: orange;
    position: absolute;
    top: 11px;
    right: 495px;

}

/* TODO after */
